# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Notatki prywatne
ZMIANY_LOKALNE.txt
potencjalne_problemy.txt

# Lokalne ustawienia programu (zawiera sciezki uzytkownika)
banner_processor_config.json
